<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WindowControls.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="Stingray.WindowControls.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Stingray.WindowControls.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
    <WindowControls.Settings>
        <setting name="_mainWindowName" serializeAs="String">
            <value>WindowControls - Style Preview</value>
        </setting>
        <setting name="_ctrlWindowName" serializeAs="String">
            <value>Control Panel</value>
        </setting>
        <setting name="_mainWindowWidth" serializeAs="String">
            <value>1024</value>
        </setting>
        <setting name="_mainWindowHeight" serializeAs="String">
            <value>768</value>
        </setting>
        <setting name="_ctrlWindowWidth" serializeAs="String">
            <value>300</value>
        </setting>
        <setting name="_ctrlWindowHeight" serializeAs="String">
            <value>200</value>
        </setting>
    </WindowControls.Settings>
    <Stingray.WindowControls.Settings>
        <setting name="_mainWindowTitle" serializeAs="String">
            <value>Headline Style - Preview</value>
        </setting>
        <setting name="_ctrlWindowTitle" serializeAs="String">
            <value>Headline Style - Control Panel</value>
        </setting>
        <setting name="_mainWindowWidth" serializeAs="String">
            <value>800</value>
        </setting>
        <setting name="_mainWindowHeight" serializeAs="String">
            <value>400</value>
        </setting>
        <setting name="_ctrlWindowWidth" serializeAs="String">
            <value>300</value>
        </setting>
        <setting name="_ctrlWindowHeight" serializeAs="String">
            <value>260</value>
        </setting>
        <setting name="_contentPath" serializeAs="String">
            <value>../../../Content</value>
        </setting>
        <setting name="_defaultPort" serializeAs="String">
            <value>9696</value>
        </setting>
    </Stingray.WindowControls.Settings>
    </applicationSettings>
    <userSettings>
        <Stingray.WindowControls.Settings>
            <setting name="_mainWindowName" serializeAs="String">
                <value>document-window</value>
            </setting>
            <setting name="_ctrlWindowName" serializeAs="String">
                <value>control-panel</value>
            </setting>
        </Stingray.WindowControls.Settings>
    </userSettings>
</configuration>
